<div>
	<h3>all news</h3>
	<div class="card-deck">
	  <div class="card" ng-repeat="n in news">
	    <img class="card-img-top" src="{{n.urlToImage}}" alt="image">
	    <div class="card-block">
	      <a href="{{n.url}}">{{n.description}}</a>
	    </div>
	  </div>
  </div>
  <hr>
<!--   <div class="wrapper">
    <div class="box box1">
      <div class="card">
        <img class="card-img-top" src="{{news[0].urlToImage}}" alt="image">
        <div class="card-block">
          <a href="{{news[0].url}}">{{news[0].description}}</a>
        </div>
      </div>
    </div>
    <div class="box box2">
      <div class="card">
        <img class="card-img-top" src="{{news[1].urlToImage}}" alt="image">
        <div class="card-block">
          <a href="{{news[1].url}}">{{news[1].description}}</a>
        </div>
      </div>
    </div>
    <div class="box box3">
      <div class="card">
        <img class="card-img-top" src="{{news[2].urlToImage}}" alt="image">
        <div class="card-block">
          <a href="{{news[2].url}}">{{news[2].description}}</a>
        </div>
      </div>
    </div>
    <div class="box box4">
      <div class="card">
        <img class="card-img-top" src="{{news[3].urlToImage}}" alt="image">
        <div class="card-block">
          <a href="{{news[3].url}}">{{news[3].description}}</a>
        </div>
      </div>
    </div>
    <div class="box box5">
      <div class="card">
        <img class="card-img-top" src="{{news[4].urlToImage}}" alt="image">
        <div class="card-block">
          <a href="{{news[4].url}}">{{news[4].description}}</a>
        </div>
      </div>
    </div>
    <div class="box box6">
      <div class="card">
        <img class="card-img-top" src="{{news[5].urlToImage}}" alt="image">
        <div class="card-block">
          <a href="{{news[5].url}}">{{news[5].description}}</a>
        </div>
      </div>
    </div>
    <div class="box box7">
      <div class="card">
        <img class="card-img-top" src="{{news[6].urlToImage}}" alt="image">
        <div class="card-block">
          <a href="{{news[6].url}}">{{news[6].description}}</a>
        </div>
      </div>
    </div>
    <div class="box box8">
      <div class="card">
        <img class="card-img-top" src="{{news[7].urlToImage}}" alt="image">
        <div class="card-block">
          <a href="{{news[7].url}}">{{news[7].description}}</a>
        </div>
      </div>
    </div>
    <div class="box box9">
      <div class="card">
        <img class="card-img-top" src="{{news[8].urlToImage}}" alt="image">
        <div class="card-block">
          <a href="{{news[8].url}}">{{news[8].description}}</a>
        </div>
      </div>
    </div>
    <div class="box box10">
      <div class="card">
        <img class="card-img-top" src="{{news[9].urlToImage}}" alt="image">
        <div class="card-block">
          <a href="{{news[9].url}}">{{news[9].description}}</a>
        </div>
      </div>
    </div>
  </div>   -->
</div>